.main {
    width: 100%;
    height: 100%;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
}

.SignUp-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-between;
    /* background-color: aqua; */

}

.app {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.SignUp_Logo{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.formData {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    flex-direction: column;
    line-height: 1.7;
    margin-top: 10px;
    gap: 10px;
}

.formData h2 {
    color: white;
    font-size: 25px;
}

.input {
    width: 350px;
    border: 1px solid rgb(94, 92, 92);
    outline: none;
    border-radius: 10px;
    height: 70px;
    background-color: white;
    padding: 15px;
}

.label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.signbttn {
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgb(15, 94, 247);
    color: white;
    cursor: pointer;
    margin-top: 15px;
    font-size: 20px;
}

.err {
    display: none;
    font-size: 0.70rem;
    color: red;
}

.input:invalid[focus= "true"] ~.err {
    display: block;
}

.input:invalid[focus="true"] {
    border: 1px solid red;
}

.SignUpImage-contain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
}
.SignUpText{
    color: rgb(15, 94, 247);
}
.SignUpImage {
    width: 100%;
    height: 80vh;
    object-fit: contain;

}
.SignUpImage:hover {
    animation: shake 2.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
.sign-h3 {
    color: grey;
}

.forg {
    color: black;
    cursor: pointer;
position: relative;  
left: 100px; 
}
.forg:hover{
    color: rgb(92, 92, 193);
}
.b {
    color: rgb(17, 95, 247);
}
.b1 {
    color: rgb(17, 95, 247);
    cursor: pointer;
}
.Already{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 4px;
    width: 400px;
    font-weight: 800;
}
.SignUpeye{
    position: fixed;
    top: 304px;
   left: 400px;
}
@media screen and (max-width: 769px) {
    .SignUpImage-contain {
        display: none;
    }
    .SignUp-main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input {
        width: 500px;
        border: 1px solid black;
        outline: none;
        border-radius: 10px;
        height: 70px;
        background-color: white;
    }

    .signbttn {
        width: 400px;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 15px;
        background-color: rgb(15, 94, 247);
        color: white;
        cursor: pointer;
        margin-top: 15px;
        font-size: 20px;
    }
    .verticalSign{
        display: none;
    }
    .SignUpeye{
        position: fixed;
        top: 276px;
       left: 520px;
    }
}

@media screen and (max-width: 426px) {
    .SignUpImage-contain {
        display: none;
    }
    .SignUp-main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .SignUpeye{
        position: fixed;
        top: 225px;
       left: 350px;
    }
}
    .input {
        width: 350px;
        border: 1px solid rgb(160, 156, 156);
        outline: none;
        border-radius: 10px;
        height: 40px;
        background-color: white;
    }
    .verticalSign{
        display: none;
    }
    .signbttn {
        width: 350px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 15px;
        background-color: rgb(15, 94, 247);
        color: white;
        cursor: pointer;
        margin-top: 15px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    .forg {
        font-size: 15px;
    }

    .Already {
        font-size: 10px;
    }
    .err {
    display: none;
    font-size: 0.5rem;
    color: red;
}

