* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.UpdateAccountAdmin_Main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
}

.UpdateAccountAdmin_Main_Wrap {
    width: 100%;
    height: 90%;
    display: flex;

    align-items: center;
    padding: 15px;
    justify-content: space-around;
    /* background-color: #5390D9; */
}

.UpdateAccountAdmin_Main_Wrap1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.UpdateAccountAdmin {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    padding: 15px;
}

.UpdateAccounAdmint_Bttn {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    background-color: #5390D9;
    cursor: pointer;
}

.UpdateAccounAdmint_Bttn2 {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.UpdateAccountAdmin_Main_Wrap2 {
    width: 40%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    background-color: #5390D9;
    justify-content: center;
}

@media screen and (max-width:426px) {
    .UpdateAccountAdmin_Main_Wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
margin-left: 150px;
        /* background-color: green; */
        gap: 20px;
    }

    .UpdateAccountAdmin_Main_Wrap2 {
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
        border-radius: 5px;
        align-items: center;
        padding: 10px;
        background-color: #5390D9;
        justify-content: center;
    }

    .UpdateAccountAdmin_Main_Wrap1 {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .UpdateAccountAdmin_Main {
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
        margin-right: 200px;
    }

    .accountsetAdmin_text {
        width: 300px;
        /* background-color: red; */
        font-size: 15px;
    }
}

@media screen and (max-width:769px) {
    
.UpdateAccountAdmin_Main {
    width: 100%;
    display: flex;
}
    .UpdateAccountAdmin_Main_Wrap {
        width: 100%;
        display: flex;
        margin-top: 100px;
        margin-left: 280px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .UpdateAccountAdmin_Main_Wrap2 {
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
        border-radius: 5px;
        align-items: center;
        padding: 10px;
        background-color: #5390D9;
        justify-content: center;
    }

    .UpdateAccountAdmin_Main_Wrap1 {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .UpdateAccountAdmin_Main {
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
        margin-right: 200px;
    }

    .accountsetAdmin_text {
        width: 300px;
        /* background-color: red; */
        font-size: 15px;
    }
}