.AdminStudent{
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .AdminStuWrap{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 426px){
    .AdminStudent{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .AdminStuWrap{
      width: 90%;
      
      /* display: flex;
      align-items: center;
      justify-content: center; */
    }
  }