*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.Features{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}
.Features-Wrapper{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Admin-img{
    width: 300px;
}
.FeaturesImg{
    width: 300px;
}
.Features-text{
    text-align: center;
    width: 300px;
}