*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.MainFeatures{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.Features{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 100%;
}
.Features-Wrapper{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Admin-img{
    width: 300px;
}
.FeaturesImg{
    width: 300px;
    margin-top: 20px;
    transition: 1s ease;
}
.FeaturesImg:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }
.Features-text{
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.Heading{
    margin-bottom: 20px;
}
.FeaturesHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 426px){
    .MainFeatures{
        margin-top: 150px;
    }
    .Features-Wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }
    .FeaturesHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        margin-top: 40px;
    }
    .Features{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;

    }
    .FeaturesImg{
        margin-top: 20px;
    }
    .Heading{
        margin-bottom: 20px;
        font-size: 15px;
    }
    .paragraph p{

        font-size: 15px;
    }
}
@media screen and (max-width: 769px){
    .Features{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 30px;
    }
}