.Why-Body{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.Why-Main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;

}
.Why{
    width: 90%;
    display: flex;
    align-items: center;
     justify-content: center;
    margin-top: 30px;

}
.Why2{
    width: 90%;
    display: flex;
    align-items: center;
     justify-content: center;
    margin-top: 30px;
}
.Why-Wrapper{
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}
.Why-Wrapper2{
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}
.Why-img{
    width: 500px;
}
.WhyImg{
    width: 500px;
    margin-top: 20px;
}
.Why-text{
    text-align: center;
    width: 300px;
    margin-top: 20px;
}
.Heading1{
    margin-bottom: 20px;
}
.paragraph{
    font-size: 20px;
}
.WhyHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 426px){
    .Why-Wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .Why-img{
        width: 300px;
    }
    .WhyImg{
        width: 300px;
        margin-top: 20px;
    }
    .Why-Wrapper2{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .Heading1{
        margin-bottom: 20px;
        font-size: 13px;
        text-align: center;
    }
    .paragraph{
        font-size: 10px;
    }
    .WhyHeader{
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}