*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.AdminAddn_Teacher{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AdminAddn_TeacherWrap{
    width: 600px;
    height: 700px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(250, 250, 255);
    /* background-color: blue; */
    -webkit-box-shadow: -2px 3px 13px 0px rgba(70,151,217,1);
  -moz-box-shadow: -2px 3px 13px 0px rgba(70,151,217,1);
  box-shadow: -2px 3px 13px 0px rgba(70,151,217,1);
}
.AddTeacher_Input{
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(224, 215, 215);
    border-radius: 8px;
    outline: none;
}
.AddTeacher_Label{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  /* height: 100%; */
}
.AddTeacher-inputWrap{
    width: 100%;
    /* height: 90vh; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
}
@media screen and (max-width: 426px){
    .AddTeacher_Input{
        width: 250px;
    }
    .AddTeacher_Label{
        width: 400px;  
    }
    .AdminAddn_Teacher{
        height: 100%;
    }
}