* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.AdminAddnew_Teacher {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminAddnew_TeacherWrap {
    width: 550px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: -2px 3px 13px 0px rgb(152, 152, 155);
}

.AddTeacher_Input {
    width: 500px;
    height: 30px;
    padding: 10px;
    border: 1px solid rgb(224, 215, 215);
    border-radius: 8px;
    outline: none;
}

.AddTeacher_Label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: blue; */
    font-size: 12px;
    width: 500px;
}

.AddNewTeacher-inputWrap{
    width: 100%;
    height: 600px;
    /* margin-top: 80px; */
    padding: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: green;
    gap: 10px;
}
.AddNewbttn{
    width: 200px;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border: 1px solid rgb(201, 200, 200);
    background-color: #5390D9;
}

@media screen and (max-width: 426px) {
    .AddTeacher_Input {
        width: 250px;
    }

    .AddTeacher_Label {
        width: 400px;
    }

    .AdminAddn_Teacher {
        height: 100%;
    }
}

@media screen and (max-width: 769px) {
    .AdminAddn_TeacherWrap {
        width: 450px;
        height: 650px;
    }

    .AddTeacher_Input {
        width: 400px;
    }

    .AddTeacher_Label {
        width: 400px;
    }
}