* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Mission_Main{
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}