.Dashboard_Stu_Main{
    width: 100%;
    margin-top: 20px;
    /* background-color: red; */
}
.Dashboard_Student_Main_Wrap{
    width: 90%;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 10px;
    gap: 10px;
    /* background-color: red; */
    /* margin-left: 250px; */
}
.Dashboard_Student_Info_Right{
    width: 250px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(219, 218, 218);
    display: flex;
    align-items: center;
   flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}
.Dashboard_Student_Info_Img{
    width: 150px;
}
.Dashboard_Stu_Info_Mss{
    width: 150px;
}
.Dashboard_Stu_Info_Detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Dashboard_Stu_Msg{
    width: 400px;
    height: 80px;
    padding: 10px;
    background-color: gray;
    border-radius: 8px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   font-size: 13px;
}
.Dashboard_info{
    width: 250px;
    background-color: rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
}
.Dashboard_detail{
    width: 220px;
    display: flex;
    padding: 8px;
    font-size: 12px;
    justify-content: space-between;
}
@media screen and (max-width: 426px){
.Dashboard_Stu_Msg{
    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 8px;
    margin-top: 10px;
}
.Dashboard_Stu_Info_Mss{
    width: 80px;
}
.Calender{
    width: 300px;
}
.Dashboard_Stu_Main_Wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Dashboard_Stu_Main{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
@media screen and (max-width: 769px){
    .Dashboard_Stu_Main{
        width: 100%;
        background-color: red;
    }
    .Dashboard_Stu_Main_Wrap{
        width: 100%;
        display: flex;
        align-items: center;
        background-color: green;
    }
    .Dashboard_Stu_Info_Img{
    width: 150px;
}
.Dashboard_Stu_Info_Mss{
    width: 150px;
}
.Dashboard_Stu_Info_Detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.TeachCalender{
    width: 400px;
}
.Dashboard_Teach_Msg{
    width: 400px;
    height: 80px;
    padding: 10px;
    background-color: gray;
    border-radius: 8px;
    display: flex;
    align-items: center;
   font-size: 13px;
}
.Dashboard_info{
    width: 200px;
    background-color: rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
}
.Dashboard_detail{
    width: 180px;
    display: flex;
    padding: 8px;
    font-size: 12px;
}
}