*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.LoginMainPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}