* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.LogoImg{
    width: 100px;
    height: 50px;
    margin-bottom: 35px;
}
.HeaderLogo{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.Header-main {
    width: 100%;
    background-color: #5390D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-bttn {
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 15px;
}
.Header-btt {
    width: 200px;
    background-color:#5390D9 ;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 5px;
    top: 82px;
    right: -70px;
    gap: 15px;
    z-index: 100;
}
.Header-bttn1 {
    width: 100px;
    height: 40px;
    border: none;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}

.Header-bttn2 {
    width: 100px;
    height: 40px;
    border: 1px solid rgb(48, 43, 43);
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    color: white;
}
.Header-btt2 {
    cursor: pointer;
}

.Header-btt2 {
    cursor: pointer;
    color: white;
}
.Burger{
    display: none;
}
@media screen and (max-width: 426px){
    .Burger{
        display: flex;
    }
    .Header-bttn{
        display: none;
    }
}
