* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.AdminAddn_Student {
    width: 80%;
    height: 100%;
    border-radius: 8px;
    /* background-color: green; */

}

.AdminAddn_StudentWrap {
    width: 700px;
    /* height: 600px; */
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */


}

.AddStudent_Input {
    width: 400px;
    padding: 10px;
    border: 1px solid rgb(224, 215, 215);
    border-radius: 8px;
    outline: none;
}

.AddStudent_Label {
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Add-inputWrap {
    width: 600px;
    height: 600px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    margin-bottom: 50px;
    background-color: rgb(250, 250, 255);
    box-shadow: -2px 3px 13px 0px rgb(152, 152, 155);
    padding: 20px;
}

.AddStudentDiv {
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddSbttn {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #5390D9;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 426px) {
    .AddStudent_Input {
        width: 250px;
    }

    .AddStudent_Label {
        width: 400px;
    }

    .AdminAddn_Student {
        height: 100%;
    }
}