*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.AdminAddn_Student{
    width: 600px;
    height: 90%;
    border-radius: 8px;
    background-color: rgb(250, 250, 255);
    /* -webkit-box-shadow: -2px 3px 13px 0px rgba(70,151,217,1);
  -moz-box-shadow: -2px 3px 13px 0px rgba(70,151,217,1); */
  box-shadow: -2px 3px 13px 0px rgb(152, 152, 155);
}
.AdminAddn_StudentWrap{
    width: 100%;
    height: 500px;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
}
.AddStudent_Input{
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(224, 215, 215);
    border-radius: 8px;
    outline: none;
}
.AddStudent_Label{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.Add-inputWrap{
    width: 100%;
    height: 90vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
}
@media screen and (max-width: 426px){
    .AddStudent_Input{
        width: 250px;
    }
    .AddStudent_Label{
        width: 400px;  
    }
    .AdminAddn_Student{
        height: 100%;
    }
}