.dashboard{
  width: 100%;
  /* height: 100vh; */
}
.AdminRight {
  width: 80%;
  margin-top: 60px;
  /* background-color: #5390D9; */
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.AdminRightDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AdminCard {
  width: 400px;
  height: 200px;
  background-color: #5390D9;
  margin-top: 30px;
  border-radius: 8px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AdminCardWrap{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AdminCardDetails{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.AdminGraduationCap{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.AdminCardHolder {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: gray; */
  gap: 15px;
}
.Admin_Msg{
  width: 80%;
  height: 120px;
  padding: 10px;
  margin-top: 30px;
  background-color: rgb(196, 183, 183);
  border-radius: 8px;
  display: flex;
  align-items: center;
 justify-content: space-between;
 font-size: 20px;
}
.Admin_Info_Img{
  width: 100px;
}
.Admin_Info_Mssg{
  width: 200px;
}
.Calender {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 426px) {
  .AdminCardHolder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gold; */

  }
  .AdminRight {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }
  .AdminCard {
    width: 350px;
    height: 150px;
    background-color: #5390D9;
    margin-top: 30px;
  }
  .AdminwelcomeMssg {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    margin-top: 15px;
  }
}