*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Footer-Main{
    width: 100%;
    background-color: #072f52;
    margin-top: 50px;
    padding: 10px 10px;
}
.FooterHead{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.FooterImgDiv{
    width: 60px;
    height: 40px;
    display: flex;
    gap: 10px;
}
.Kora-Img{
    width: 100%;
    height: 100%;
    /* background-color: white; */
}
.FooterContact{
    line-height: 1.4;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.FooterPartners{
    margin-top: 20px;
    font-size: 18px;
    color: white;
}
@media screen and (max-width: 426px){
    .FooterHead{
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .FooterImgDiv{
        width: 60px;
        height: 40px;
        display: flex;
        gap: 10px;
    }
    .Kora-Img{
        width: 100%;
        height: 100%;
        /* background-color: white; */
    }
    .FooterContact{
        line-height: 1.4;
        font-size: 13px;
    }
    .FooterPartners{
        margin-top: 20px;
    }
}
@media screen and (max-width: 769px){
    .FooterHead{
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .FooterImgDiv{
        width: 100px;
        display: flex;
        gap: 10px;
    }
    .Kora-Img{
        width: 100px;
    }
    .FooterContact{
        line-height: 1.4;
        font-size: 13px;
    }
    .FooterPartners{
        margin-top: 20px;
    }
    .Footer-Main{
        width: 100%;
        background-color: #072f52;
        margin-top: 50px;
        padding: 10px;
    }
}
@media screen and (max-width: 769px){
    .FooterContact{
        display: flex;
        gap: 5px;
        align-items: flex-start;
        flex-direction:column;
    }
}