.forget{
    width: 100%;
    height:100vh;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .forget_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .forget_input{
    width: 20%;
    padding: 10px 10px;
    border-radius: 5px;
    border-color: transparent;
    border: 2px solid #003F62;
  }
  .forget_button{
    width: 20%;
    padding: 10px 0px;
    border-radius: 5px;
    border-color: transparent;
    background-color:  #003F62;
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 600;
  }
  .forget_back{
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(85, 84, 84);
  }
  .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }