* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Student_Main {
    width: 100%;
    height: 100%;
}
.Student_Main_Wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.StudentLogo{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.StudentHeaderLogo{
    width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}
.Student_header {
    width: 100%;
    height: 20%;
    background: rgba(235,234,234, 0.90);
    -webkit-box-shadow: -2px 3px 13px 0px rgba(70,151,217,1);
    -moz-box-shadow: -2px 3px 13px 0px rgba(70,151,217,1);
    box-shadow: -2px 3px 13px 0px rgba(70,151,217,1);
    backdrop-filter: blur(12.4px);
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  
}
.Student_header_wrap{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.StudentProfileWrap{
    width: 140px;
    background-color: rgb(242, 239, 239);
    position: absolute;
    padding: 10px;
    line-height: 1.6;
    top: 65px;
    right: 10px;
    border-radius: 8px;
    border: 1px solid rgb(231, 207, 207);
}
.StudentProfile{
    cursor: pointer;
}
.StudentBurger{
    display: none;
}
.StudentLeftHolder{
   width: 25%;
   height: 80vh;
   background: white;
   border: 1px solid rgb(214, 210, 210);
   display: flex;
   justify-content: center;
   top: 50px;
   margin-top: 10px;
}
.StudentNav{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 50px;
    font-size: 12px;
}
.DashboardMiddle{
    width: 100%;
    padding: 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Dash h3{
    display: flex;
    align-items: center;
   gap: 30px;
}
.StudentLeftMobile_co{
    display: none;
}
.StudentProfileWrap{
    width: 140px;
    background-color: rgb(242, 239, 239);
    position: absolute;
    padding: 10px;
    line-height: 1.6;
    top: 65px;
    right: 10px;
    border-radius: 8px;
    border: 1px solid rgb(231, 207, 207);
}
.StudentProfile{
    cursor: pointer;
}
@media screen and (max-width: 426px){
    .StudentLeftHolder{
        display: none;
    }
    .StudentHeaderLogo{
        display: none;
    }
    .StudentBurger{
        display: flex;
    }
    .StudentLeftMobile_co{
        width: 50%;
        display: flex;
        position: absolute;
        padding: 10px;
        left: 0px;
        background-color: rgb(204, 204, 212);
    }
    .StudentNav{
        /* background-color: green; */
        width: 100%;
    }
    .StudentLeftMobile_mobile{
        width: 100%;
        /* background-color: red; */
    }
}
@media screen and (max-width: 769px){
    .StudentLeftHolder{
        display: none;
    }
    .StudentHeaderLogo{
        display: none;
    }
    .StudentBurger{
        display: flex;
    }
    .StudentLeftMobile_co{
        width: 50%;
        display: flex;
        position: absolute;
        border-radius: 5px;
        padding: 10px;
        left: 0px;
        background-color: rgb(230, 230, 240);
    }
    .StudentNav{
        /* background-color: green; */
        width: 100%;
    }
    .StudentLeftMobile_mobile{
        width: 100%;
        /* background-color: red; */
    }
}