* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Student_Main {
    width: 100%;
    height: 100%;
}
.Student_Main_Wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.StudentLogo{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.StudentHeaderLogo{
    width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}
.Student_header {
    width: 100%;
    height: 20%;
    background: rgba(235,234,234, 0.90);
    -webkit-box-shadow: -2px 3px 13px 0px rgba(70,151,217,1);
    -moz-box-shadow: -2px 3px 13px 0px rgba(70,151,217,1);
    box-shadow: -2px 3px 13px 0px rgba(70,151,217,1);
    backdrop-filter: blur(12.4px);
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  
}
.Student_header_wrap{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.StudentBurger{
    display: none;
}
.StudentLeftHolder{
   width: 20%;
   /* height: 90vh; */
   background: white;
   border: 1px solid rgb(214, 210, 210);
   display: flex;
   justify-content: center;
   top: 50px;
   margin-top: 10px;
}
.StudentNav{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 50px;
}
.DashboardMiddle{
    width: 80%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.Dash h3{
    display: flex;
    align-items: center;
   gap: 30px;
}
.StudentLeftMobile_co{
    display: none;
}
@media screen and (max-width: 426px){
    .StudentLeftHolder{
        display: none;
    }
    .StudentHeaderLogo{
        display: none;
    }
    .StudentBurger{
        display: flex;
    }
    .StudentLeftMobile_co{
        width: 50%;
        position: absolute;
        padding: 10px;
        left: 0px;
        background-color: blue;
    }
    .StudentNav{
        background-color: green;
        width: 95%;
    }
    .StudentLeftMobile_mobile{
        background-color: red;
    }
}