* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.AdminMain {
    width: 100%;
    height: 100vh;

}

.Admin_header {
    width: 100%;
    height: 10%;
    background-color: blue;
}

.AdminMain_wrap {
    width: 100%;
    /* height: 90%; */
    /* background-color: rgb(88, 86, 86); */
    display: flex;
    justify-content: center;
    gap: 30px;
}

.AdminLeft {
    height: 100vh;
    width: 20%;
    /* background-color: #736e6e; */
    display: flex;
    overflow-y: scroll;
    justify-content: center;
}

/* Admin Left */

.AdminLeftWrap {
    height: 100vh;
    width: 70%;
    padding: 15px 0px;
    /* background-color: #5390D9; */
}

.AdminNav {
    display: flex;
    align-items:start;
    justify-content: space-between;
    margin-top: 50px;
}
.AdminLeftinvisibleWrap{
    display: none;
}

.DashDrop_wrap {
    width: 70%;
    font-size: 15px;
    /* background-color: #5390D9; */
}
.DashDrop_wrap {
    cursor: pointer;
    font-size: 15px;
    color: rgb(79, 74, 74);
}
.DashDrop{
    width: 100%;
    line-height: 1.8;
    cursor: pointer;
}
.AdminLeftWrap_title{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
}
.AdminBurger{
    display: none;
}
.AdminHeader{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5390D9;
}
.AdminHeaderWrap{
    width: 90%;
    /* background-color: #f8f8f8; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 426px){
    .AdminBurger{
        display: flex;
    }
    .AdminLeft {
       position: fixed;
       height: 100vh;
       top: 0px;
       left: 0px;
       width: 100%;
    }
    .AdminLeftWrap{
        display: none;
    }
    .AdminLeftMobile{
        height: 100vh;
        width: 50%;
        background-color: #fcfcfc;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        justify-content: center;
        position: absolute;
        top: 50px;
        padding: 10px;
    }
    .AdminProfileWrap{
        width: 160px;
        position: absolute;
        top: 80px;
        line-height: 1.9;
        background-color: gray;
    }
    .AdminSchoolNamewrap{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

}