.Admin_TimeTable{
    width: 100%;
    height: 100vh;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Admin_TimeTable_Form{
    width: 80%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}