* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.TeacherAttendance_Main{
    width: 100%;
    /* height: 90vh; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* background-color: blue; */
    gap: 10px;
}
.TeacherAttendance_Form_Wrap{
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.TeacherAttendance_Submit_Bttn{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(15, 94, 247);
}
.TeacherAttendance_Body{
    width: 500px;
    height: 150px;
    border-radius: 8px;
    background-color: rgb(228, 216, 216);
}